<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TZipValidator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <TZipValidator.Properties.Settings>
            <setting name="InDir" serializeAs="String">
                <value>C:\193102\Inbox</value>
            </setting>
            <setting name="Rejected" serializeAs="String">
                <value>C:\193102\Rejected</value>
            </setting>
            <setting name="Processed" serializeAs="String">
                <value>C:\193102\Processed</value>
            </setting>
            <setting name="Logging" serializeAs="String">
                <value>C:\193102\Logging</value>
            </setting>
        </TZipValidator.Properties.Settings>
    </userSettings>
</configuration>